header {
  background-color: rgb(35, 93, 36);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 10;
  padding: 10px;
  color: white;
}

.dashbaord-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

